<section id="history" class="container history">
  <div class="scroll">
    <% @history.each do |visit| %>
      <article>
        <header>
          <h3><%= visit[:name] %></h3>
          <time datetime="<%= DateTime.parse(visit[:date_visited].to_s).iso8601 %>"><%= DateTime.parse(visit[:date_visited].to_s).strftime("%A %B %e %l:%M%P")%></time>
        </header>
        <img src="<%= img_for_city(visit, 292, 120) %>" width="292" height="120" alt="<%= visit[:name] %>">
      </article>
    <% end %>
  </div>
</section>