<html>
    <head>
        <title>OG Sample Object - Sample City</title>

        <meta property="og:title" content="<%= h @city[:name] %>" />
        <meta property="og:image" content="http://everydaycity.com/map/180x180/<%= @city[:country] %>/<%= @city[:region] %>/<%= @city[:locality] %>.png" />
        <meta property="everydaycity:location:latitude" content="45.5246" />
        <meta property="everydaycity:location:longitude" content="-122.6843" />
        <meta property="everydaycity:bounding_box" content="<%= @city[:bbox] %>" />
        <meta property="fb:app_id" content="286536824758724" />
        <meta property="og:url" content="<%= h request.url %>" />
        <meta property="og:type" content="everydaycity:city" />

        <link type="text/css" rel="stylesheet" href="/stylesheets/app.css" />
    </head>
    <body>
    </body>
</html>