
  <div class="container">
    <div class="row">
      <div class="span12">
        <h1><%= @city[:name] %></h1>
      </div>
    </div>
    <div class="row">
      <div class="span7">
        <div class="city">
          <div class="city-in">
                  <div>
                    <img src="http://everydaycity.com/map/540x400/<%= @city[:country] %>/<%= @city[:region] %>/<%= @city[:locality] %>.png">
                  </div>
          </div>
        </div>
      </div>
      <div class="span4">
        <% if @visit %>
          <h3 class="visit"><b><%= @visit[:fb_user_name] %> is using Everyday City</b> to automatically update <%= (@visit[:fb_user_gender] == 'male' ? 'his' : 'her') %> city on Facebook</h3>
        <% end %>
        <div style="padding-bottom: 20px;"></div>
        <div class="right">
          <h4 style="text-align: center;">Coming Soon:</h4>
          <!-- <a href="/everyday-city-itunes"><img src="/img/available-on-the-app-store.png"></a> -->
          <img src="/img/available-on-the-app-store.png">
        </div>
        <p>
          <img src="/img/iPhone-app-screenshot-main.png" class="screenshot">
        </p>
      </div>
    </div>
  </div>

